@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    font-family: "poppins", sans-serif;
    background-color: gray;
}


/*Header*/

header{
   /* background-color: gainsboro;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-size: 2rem;
}


/* Seccion 1 Descripcion */

.description-section {
    padding: 5rem;
    max-width: auto;
    /*background-color: red;*/
  }
  
.info-card {
    width: 100%;
    margin-bottom: 2rem;
  }
  
.card-container{
  position: center;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: auto;
  width: auto;
  max-width: 900px;
  max-height: 900px;
  border-radius: 3px;
  margin: 10px;
}


/* Seccion 2 Descripcion */

.description-section2 {
    padding: 10rem 0;
    max-width: auto;
    display: flex;
    justify-content: center;  
    font-size: 2rem;
    text-align: flex-start;
    text-transform: uppercase;
    /*background-color: blue;*/
  }

.card-container2{
    display: flex;
    flex-direction:row;
    gap: 5rem;
  }

.box1 {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:flex-start;
    /*background-color: red;*/
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*background-color: orange;*/
  }
 
   .box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   /*background-color: yellow;*/
  }

  .description-section2 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*background-color: red;*/
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
  }